/*  your css code here. If applicable */
.container{
	background-color: #f5f5f5;
	width: 700px;
	height: 220px;
	padding: 20px;
	margin: 40px auto;
	box-sizing: border-box;
}
.testimonial-section{
	border: 1px solid black;
	background-color: white;
	width: 650px;
	height: 50px;
	margin-bottom: 16px;
	display: block;
	
}
.testimonial-text{
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	
}
.testimonial-text{
	/* padding: 3px; */
}
.author{
	text-align: right; 
	 font-style: italic;
	margin: 0;
	font-size: 13px;
}